.banner-principal-decorativo
  &-1
    animation: rotate 5.5s ease-in-out infinite 
    position: absolute
    top: 14%
    right: 18%
    width: 355px
  &-2
    animation: rotate 4.8s ease-in-out infinite 
    position: absolute
    top: 14%
    right: 18%
    width: 350px
  &-3
    width: 340px
    animation: rotate 4.8s ease-in-out infinite 
    position: absolute
    top: 18%
    right: 19%
@keyframes rotate
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

/// tarjeta-icono-lado

.tarjeta-icono-lado
  position: relative

  img
    width: 400px
    position: absolute
    // height: 100%
    top: 0
    translate: 

  p
    margin-bottom: 0
    width: 80%
    display: inline-block
  &.derecha
    img
      right: 0
      transform: translateX(42%) translateY(-20%)
      display: inline-block
  &.izquierda
    display: flex
    justify-content: flex-end
    img
      transform: translateX(-43%) translateY(-20%)
      left: 0
      right: auto
.bg-slyde
  background-image: url('../assets/curso/temas/tema1/bg-slyde.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bg-slyde2
  background-image: url('../assets/curso/temas/tema1/bg-slyde-2.svg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: #ffca79
    border: none
  .slyder-a__bullets__item
    background-color: #fee1b4
    border: none
  .slyder-a__bullets__item--active
    background-color: #ffca79 !important
      border: none
.bg-cta
  background-image: url('../assets/curso/temas/tema1/bg-cta.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.bg-cta-2
  background-image: url('../assets/curso/temas/tema5/bg-cta-2.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: start
.acordion__activo 
  background-color: #e5e7f2 !important
  background-image: none !important
  .acordion__header
    .acordion__titulo
      h3
        color: $color-sistema-texto
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FFCA79
  border: none
  opacity: 1
.slyder-a__bullets__item 
  background-color: #FEE1B4
  border: none
.slyder-a__bullets__item--active 
  background-color: #FDA929
.tabs-a__tab
  background-color: #e5e7f2
.bg-cards2
  background-image: url('../assets/curso/temas/tema1/bg-cards2.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.dots-xl
  .img-infografica__item__dot
    transform: scale(2)
    div
      font-weight: bold
    &:before, &:after
      background-color: #ffca79
      opacity: 1
    opacity: 1
.dots-white
  .img-infografica .img-infografica__item__dot:before, 
    background-color: #fff
  .img-infografica .img-infografica__item__dot:after
    background-color: blue
  .img-infografica__item__dot:before
    background-color: #fff
.img-infografica__item__numero
  font-weight: bold
.derechalinea
  .text-end 
    text-align: left !important


